
<%= render 'shared/page_title', title: "Search" %> <!-- remember to use double quote here for string? -->

<div class="row">
    <div class="col-lg-6 center">
        <%= link_to "    Search Projects     ", search_project_path, class: "btn btn-warning btn-lg" %>
    </div>

    <div class="col-lg-6 center">

        <%= link_to "    Search Users     ", user_advanced_search_index_path, class: "btn btn-success btn-lg" %>

    </div>
</div>






