<%= render 'shared/page_title', title: "All Projects" %> <!-- remember to use double quote here for string? -->




&nbsp
<hr/>

<% content_for :search do %>
  <div class="large-8 small-9 columns">
  <%= search_form_for @project_search do |f| %>
    <%= f.text_field :name_cont, class: "radius-left expand", placeholder: "Project Name (Press Enter)" %>
  </div>

  <% end %>
<% end %>

<%= render 'shared/show_projects', objects: @projects %>
