<header class = "navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "Houston Global Health", root_path, class: "btn btn-lg btn-info" %>
      
      <div class="user_account">
        <%= link_to "Log In", class: "btn btn-default btn-success" %>
      </div>
     </div>
</header>